*{
    margin: 0%;
    padding: 0%;
}
body {
    background-color: #EDF2F9;
}

/* TOP PRODUCTS GRAPH */
.topProductGraph{
    height: 385px;
    width: 862px;
    position: relative;
    background-color: #EDF2F9;
    display: flex;
    flex-direction: column;
}
.headerGraphic{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 29px;
    text-align: left;
    padding: 0px 20px;
}

.linkGraphic{
    color: #2c7be5;
    text-decoration: none;
    background-color: transparent;
}

.dropdownGraphic{
    background-color: white;
    display: block;
    float: left;
    top: 0px;
    left: 0px;
    display: none;
}

.dropdownButtonGraphic{
    width: 100%;
    padding: 0.25rem 1rem;
    background-color: transparent;
    border: 1px solid transparent;
    clear: both;
    text-align: left;
    cursor: pointer; 
}

.removeButtonGraphic{
    width: 100%;
    padding: 0.25rem 1rem;
    color: #e63757;
    background-color: transparent;
    border: none;
    clear: both;
    text-align: left;
    cursor: pointer;
}

.mainGraphic{
    background-color: #fff;
}
/* FOOTER */
.textsFooter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    color: #748194;
    margin-top: 28.8px;
    margin-bottom: 16px;
}

.linkFooter{
    color: #2c7be5;
    text-decoration: none;
    background-color: transparent;
}
